/* Header-Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}
.TitelLogo{
  display: flex;
  align-items: center;
  height: auto;
}
.Logo img{
width: 100px;
}
.x img{
  filter: invert();
  height: 20px;
  width: auto;
  padding: 0px 10px 0 10px;
}
/* Burger-Menü */
.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  align-items: center;
  margin: 10px;
}

.burger-menu input {
  display: none;
}

.burger-menu label {
  position: relative;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--font-color-dark);
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
/* Hintergrund-Overlay */
.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999; /* Unter dem Overlay-Menü */
}

.overlay-background.active {
  opacity: 1;
  visibility: visible;
}

/* Checkliste-Overlay */
.checklist-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000; /* Über dem Hintergrund */
}

.checklist-overlay.active {
  right: 0;
}

/* Schließen-Button */
.close-button {
  top: 10px;
  margin: 20px;
  display: flex;
  justify-self: end;
  justify-content: end;
  background: transparent;
  width: 30px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--font-color-dark);
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-color);
}

/* Checkliste */
.checklist {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.checklist label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--font-color-dark);
}

.checklist svg {
  margin-left: 10px;
}

/* Reset-Button */
.Resetbutton {
  justify-self: end;
  margin: 15px 0px 2px 0px;
  width: 90%;
}
.generateQrCodeButton
{
  width: 50%;
  margin: auto;
}
/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .burger-menu {
    display: flex;
  }

  .checklist {
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
  }

  .TitelLogo{
  display:inline;
  align-items: center;

  }
  .TitelLogo h1{
  padding-bottom: -5px;
  margin-bottom: -5px;
  }
  .Logo img{
  width: 100px;
  padding: 0 0 0 20px;
  }
  .x img{
    height: 0px;
    padding: 0px;
    opacity: 0;
  }
}

.inhalt{
  padding: 15px;
  min-height: 500px;
}
form {
  max-width: 500px;
  margin: 20px auto 20px auto;
  padding: 20px;
  flex: 1;
  min-width: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.forms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--font-color-dark);
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--font-color-light);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

.QRimage {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
  padding: 10px;
  background-color: var(--background-color);
}

.input {
  color: var(--font-color-dark);
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.input-border {
  position: absolute;
  background: var(--accent-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
  outline: none;
}

.input:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
  --width-of-input: 300px;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: var(--box-shadow);
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(
    90deg,
    var(--htb-color) 0%,
    var(--background-color) 50%,
    var(--primary-color) 100%
  );
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.0);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}

.checklist label{
    align-items: center;
    display: flex;
    justify-content: end;
    padding-left: 13px;
    margin-right: 10px;
}

.container {
  cursor: pointer;
  padding-top: 10px;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: var(--font-color-light);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}


a {
  color: rgba(255, 255, 255, 0.692);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.397);
  background: rgba(52, 52, 52, 0.623);
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 600;
  gap: 8px;
  border-radius: 5px;
  margin: 0 auto;
  transition: 0.2s;
  border: 1px solid transparent;
  width: 20%;
}

a:hover {
  border-color: rgba(255, 255, 255, 0.623);
  background: linear-gradient(
    to bottom,
    rgba(var(--font-color-light), 0.15),
    rgba(var(--font-color-light), 0.25),
    rgba(var(--font-color-light), 0.4)
  );
  box-shadow: 0 6px rgba(255, 255, 255, 0.623);
  transform: translateY(-6px);
}

a:active {
  transform: translateY(2px);
  box-shadow: none;
}
a svg{
    margin: auto;
}




button {
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: rgba(0, 0, 0, 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
  background: linear-gradient(
    to left,
    var(--primary-color) 0%,
    var(--primary-color) 8%,
    var(--primary-color) 92%,
    var(--primary-color) 100%
  );
}

.front {
 display: block;
 position: relative;
 padding: 12px 27px;
 border-radius: 12px;
 font-size: 1.1rem;
 color: var(--font-color-white);
 background: var(--primary-color);
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}

.QRCode{
  padding: 15px;

}
.QrCodeText {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

footer{
  margin-top: 20px;
  height: 60px;
  background-color: var(--background-color2);
}

footer div{
  justify-self: end;
  padding: 20px 60px 20px 20px;
}