:root {
  --primary-color: #0037dc;
  --secondary-color: #096B72;
  --tertiary-color: #A78A7F;
  --accent-color: #650D1B;
  --accent-color2: #E7D7C1;
  --success-color: #28a745;
  --error-color: #dc3545;

 --background-color: #fbfbfb;

  /* Schriftgrößen */
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;

  /* Schriftfarben */
  --font-color-dark: #333;
  --font-color-light: #7a7a7a;

  /* Abstände */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;

  /* Zusätzliche Variablen */
  --border-radius: 4px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color-dark);
  margin: 0;
  padding: 15px;
}

header{
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -15px -15px 0 -15px; 
}

header img{
    width: 130px;
    padding-right: 20px;
}

header h1{
    padding: 20px;
} 

@media (prefers-color-scheme: dark) {
    :root {
    --primary-color: #0039e2;
    --secondary-color: #0a3d40; 
    --tertiary-color: #3e3e3e;
    --accent-color: #8b3a3a; 
    --accent-color2: #5a5a5a;
    --success-color: #1e7e34;
    --error-color: #a71d2a;
    
    --background-color: #121212;

    /* Schriftfarben */
    --font-color-dark: #e0e0e0;
    --font-color-light: #c0c0c0;

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
    body {
    background-color: #121212; /* Sehr dunkler Hintergrund */
    color: var(--font-color-dark);
  }
}
