:root {
  --primary-color: #0037dc;
  --secondary-color: #096B72;
  --tertiary-color: #A78A7F;
  --accent-color: #650D1B;
  --accent-color2: #E7D7C1;
  --accent-color3: rgb(160, 160, 160);
  --success-color: #28a745;
  --error-color: #dc3545;

  --htb-color: #001f7f;

 --background-color: #fbfbfb;
 --background-color2: #a8a8a8;

  /* Schriftgrößen */
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;

  /* Schriftfarben */
  --font-color-dark: #333;
  --font-color-light: #7a7a7a;
  --font-color-white: #ffffff;
  --font-color-black: #ffffff;

  /* Abstände */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;

  /* Zusätzliche Variablen */
  --border-radius: 4px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color-dark);
  margin: 0;
  padding: 0;
}

header{
    box-shadow: var(--box-shadow);
    background-color: var(--accent-color3);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img{
    width: 100px;
    padding: 0px 20px 0 20px;
}

header h1{
    padding: 0px 20px 0 20px;
    font-size: var(--font-size-large);
} 

@media (prefers-color-scheme: dark) {
    :root {
    --primary-color: #0039e2;
    --secondary-color: #0a3d40; 
    --tertiary-color: #3e3e3e;
    --accent-color: #8b3a3a; 
    --accent-color2: #5a5a5a;
    --accent-color3: #121212;
    --success-color: #1e7e34;
    --error-color: #a71d2a;
    
    --background-color: #121212;
    --background-color2: #2a2a2a;

    /* Schriftfarben */
    --font-color-dark: #e0e0e0;
    --font-color-light: #c0c0c0;

    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
    body {
    background-color: #121212; /* Sehr dunkler Hintergrund */
    color: var(--font-color-dark);
  }
}
